<p-card header="{{ mascota.name }}" subheader="{{ mascota.descripcion }}"
    [style]="{ width: '360px', backgroundImage: 'url(/img/pet-background.png)', backgroundSize: 'cover', backgroundRepeat: 'no-repeat', backgroundPosition: 'center', margin: '0 auto' }">
    <ng-template pTemplate="header">
        <img alt="Foto de Mascota"
            [src]="mascota.foto ? (baseUrl + mascota.foto) : './img/icons/petdemo.png'" />
    </ng-template>

    <div class="card-content profile-info">
        <i class="pi pi-gift icon-gift" style="font-size: 20px; color: #6dce7b;"></i>
        <h3 class="phone-number">{{ getEdad(mascota.birthday) }}</h3>
    </div>

    <div class="card-content profile-info">
        <i class="pi pi-user icon-user" style="font-size: 20px; color: #d5ae38;"></i>
        <h3 class="phone-number">{{ contactPhone || 'No
            disponible' }}</h3>
        <button pButton type="button" icon="pi pi-phone"
            class="p-button-rounded p-button-text p-button-sm p-button-success"></button>
    </div>

    <div class="card-content profile-info">
        <i class="pi pi-map-marker map-marker" style="font-size: 20px; color: #f05858;"></i>
        <h3 class="phone-number">{{ contactAddress || 'No
            disponible' }}</h3>
    </div>

</p-card>