.carta {
    width: 100%;
    display: block;
    padding-bottom: 200px;
    border-radius: 10px;
}

.img-gato {
    background-color: #431f39;
    color: #f8e5d4;
}

.img-perro {
    background-color: #f8e5d4;
    color: #431f39;
}

.imagen-mascota {
    padding-top: 100px;

}

.mascota-nombre {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 50px;
    font-weight:bolder
}

.mascota-fecha {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 30px;
    font-weight: 600;
}

.mascota-telefono {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 30px;
    font-weight: 600;
}