
.card-content {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Espacio entre elementos */
}

.icon-user {
  /* font-size: 1.2rem; */
}

.phone-number {
  color: #281d2d;
  text-align: center;
  margin-right: auto; 
}

.profile-info{
  padding-left: 10px; padding-right: 10px; background-color: #fff; border-radius: 5px;
  margin-bottom: 10px;
}