<div class="card">
    <div class="grid">
        <div class="col">
            <label class="fw-bold mb-2">Dirección de tu negocio</label>
            <input id="autocomplete" type="text" class="form-control mb-3" placeholder="Ingresa la dirección" />

            <div id="map" style="height: 200px; border-radius: 8px;"></div>
        </div>
    </div>

    <div class="grid">
        <div class="col">
            <div class="text-right mt-4">
                <button type="button" pButton label="Cancelar" (click)="cancelar()" class="p-button-secondary"
                    style="margin-right: 5px;"></button>
                <button type="button" pButton label="Guardar" (click)="guardar()"
                [disabled]="!puedeGuardar || loading" class="p-button-success mr-2"></button>

            </div>
        </div>
    </div>
</div>