<div class="card flex justify-content-center">
    <p-dialog header="Cambiar password a {{usuario.nombre}}" [modal]="true" [(visible)]="visible" [position]="position"
        [style]="{ width: '30rem'}" (onHide)="cancelar()">

        <form [formGroup]="passwordForm" (ngSubmit)="guardar()">

            <div class="grid" style="margin-bottom: 10px;">
                
                <div class="col">
                    <p-inputGroup>
                        <p-inputGroupAddon>Password</p-inputGroupAddon>
                        <input type="text" pInputText formControlName="Password" />
                    </p-inputGroup>
                </div>
                
            </div>

            <div class="grid" style="margin-bottom: 10px;">
                <div class="col" style="display: flex; justify-content: flex-end;">
                    <p-button label="Cancelar" severity="secondary" (click)="cancelar()"/>
                    <p-button type="submit" label="Actualizar password" severity="success" [disabled]="!passwordForm.valid"/>
                </div>
            </div>
           
            <div style="margin-top: 25px;" *ngIf="loading">
                <p-progressBar mode="indeterminate" [style]="{'height': '6px'}" />
            </div>

        </form>
    </p-dialog>
</div>
