.carta {
    width: 100%;
    display: block;
    padding-bottom: 50px;
    border-radius: 10px;
}

.mascota-nombre {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 2.5vw;
    font-weight:bolder
}

.mascota-fecha {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1vw;
    font-weight: 600;
}

.mascota-telefono {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1vw;
    font-weight: 600;
}


.card-content {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Espacio entre elementos */
}

.icon-user {
  /* font-size: 1.2rem; */
}

.phone-number {
  color: #B73A24;
  text-align: center;
  margin-right: auto; /* Opcional si deseas empujar el botón a la derecha */
}
  


