<div class="card">
    <p-dialog header="Agregar Mascota" [modal]="true" [(visible)]="visible" [position]="position"
        [style]="{ width: '100rem', minHeight: '30rem' }" (onHide)="cancelar()" styleClass="custom-dialog">

        <div class="grid">
            <!-- COLUMNA IZQUIERDA: FORMULARIO -->
            <div class="col-6">
                <p-toast></p-toast>
                <form [formGroup]="mascotaForm" (ngSubmit)="guardar()">

                    <div class="grid" style="margin-bottom: 10px;">
                        <div class="col-12">
                            <label for="foto" style="margin-right: 10px; min-width: 140px;">Foto de la mascota
                                (opcional):</label>
                        </div>
                        <div class="col-12" style="display: flex; align-items: center;">
                            <div class="image-preview-container" style="margin-right: 10px;">
                                <img *ngIf="imagenPreview" [src]="imagenPreview" alt="Imagen Previa"
                                    style="width: 100px; height: 100px; object-fit: cover; border-radius: 8px;">
                                <img *ngIf="!imagenPreview" [src]="fotoDemo" alt="Imagen Previa"
                                    style="width: 100px; height: 100px; object-fit: cover; border-radius: 8px;">
                            </div>

                            <p-button label="Subir Imagen" severity="secondary" (click)="subirImagen()" />

                        </div>
                    </div>

                    <div class="grid" style="margin-bottom: 10px;">
                        <div class="col">
                            <p-inputGroup>
                                <p-inputGroupAddon>Nombre</p-inputGroupAddon>
                                <input type="text" pInputText placeholder="Nombre" formControlName="Nombre" />
                            </p-inputGroup>
                        </div>
                        <div class="col">
                            <p-inputGroup>
                                <p-inputGroupAddon>Cumpleaños</p-inputGroupAddon>
                                <input type="date" pInputText placeholder="Birthday" formControlName="Birthday" />
                            </p-inputGroup>
                        </div>
                    </div>

                    <div class="grid" style="margin-bottom: 10px;">
                        <div class="col">
                            <p-inputGroup>
                                <p-inputGroupAddon>Descripcion</p-inputGroupAddon>
                                <textarea rows="4" cols="60" pInputTextarea formControlName="Descripcion"></textarea>
                            </p-inputGroup>
                        </div>

                    </div>

                    <div class="grid" style="margin-bottom: 10px;">
                        <div class="col">
                            <div class="p-field">
                                <label for="especie">Especie</label>
                                <p-dropdown id="especie" [options]="especies" optionLabel="especie" optionValue="id"
                                    formControlName="Especie" placeholder="Selecciona una especie">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col">

                            <small class="text-muted">Teléfono de contacto. (opcional)</small>
                            <p-inputMask mask="(999) 999-9999" formControlName="Telefono"
                                placeholder="(999) 999-9999" />
                        </div>
                    </div>

                    <div class="grid" style="margin-bottom: 10px;">
                        <div class="col-12" style="display: flex; justify-content: flex-end;">
                            <p-button [label]="isEditMode ? 'Cerrar' : 'Cancelar'" severity="secondary"
                                (click)="cancelar()" [ngStyle]="{ 'margin-right': '5px' }"
                                styleClass="p-button-cancelar" />
                            <p-button type="submit" [label]="isEditMode ? 'Actualizar' : 'Guardar'"
                                [severity]="isEditMode ? 'primary' : 'success'" [disabled]="!mascotaForm.valid">
                            </p-button>
                        </div>
                    </div>

                    <div style="margin-top: 25px;" *ngIf="loading">
                        <p-progressBar mode="indeterminate" [style]="{ height: '6px' }" />
                    </div>
                </form>
            </div>

            <!-- COLUMNA DERECHA: PREVIEW QR Y DATOS -->
            <div class="col-3">

                <!-- <div class="carta" [ngClass]="claseImagen">

                    <div [ngClass]="claseImagen" style="padding-top: 0px; border-radius: 10px;">
                        <div class="text-center imagen-mascota">
                            <img *ngIf="!isEditMode" alt="Foto de Mascota"
                                [src]="imagenPreview ? imagenPreview : './img/icons/petdemo.png'"
                                style="width: 150px; height: 150px; object-fit: cover;border-radius: 50%; " />

                            <img *ngIf="isEditMode" alt="Foto de Mascota"
                                [src]="mascota.foto ? (baseUrl + mascota.foto) : './img/icons/petdemo.png'"
                                style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;" />
                        </div>
                    </div>

                    <div class="p-3 text-center" [ngClass]="claseImagen">
                        <p class="m-0 mascota-nombre">{{ mascotaForm.value.Nombre }}</p>
                        <p class="m-0 mascota-fecha">Edad: <strong>{{ getEdad(mascotaForm.value.Birthday) }}</strong>
                        </p>

                        <p class="m-0 mascota-telefono">Teléfono: <strong>{{ mascotaForm.value.Telefono || 'No
                                disponible' }}</strong></p>
                    </div>

                </div> -->

                <!-- <p-card [style]="{ width: '360px', overflow: 'hidden', position: 'relative' }">
                    <ng-template pTemplate="header">
                      <div class="card-image-wrapper" style="height: 280px;">
                        <img *ngIf="!isEditMode" alt="Foto de Mascota"
                                [src]="imagenPreview ? imagenPreview : './img/icons/petdemo.png'"/>

                        <img *ngIf="isEditMode" alt="Foto de Mascota"
                                [src]="mascota.foto ? (baseUrl + mascota.foto) : './img/icons/petdemo.png'"/>

                        <div class="gradient-overlay"></div>
                      </div>
                      <div class="card-content-overlay text-white">
                        <h2 class="mb-2">{{ mascotaForm.value.Nombre }}</h2>
                        <p>Edad: <strong>{{ getEdad(mascotaForm.value.Birthday) }}</strong>.</p>
                        <p>Teléfono: <strong>{{ mascotaForm.value.Telefono || 'No
                            disponible' }}</strong></p>
                      </div>
                    </ng-template>
                  
        
                  
          
                  </p-card> -->

                <p-card header="{{ mascotaForm.value.Nombre }}"
                    subheader="{{ mascotaForm.value.Descripcion }}"
                    [style]="{ width: '360px', backgroundImage: 'url(/img/pet-background.png)', backgroundSize: 'cover', backgroundRepeat: 'no-repeat', backgroundPosition: 'center' }">
                    <ng-template pTemplate="header">
                        <img *ngIf="!isEditMode" alt="Foto de Mascota"
                            [src]="imagenPreview ? imagenPreview : './img/icons/petdemo.png'" />

                        <img *ngIf="isEditMode" alt="Foto de Mascota"
                            [src]="mascota.foto ? (baseUrl + mascota.foto) : './img/icons/petdemo.png'" />
                    </ng-template>

                    <div class="card-content">
                        <i class="pi pi-gift icon-gift" style="font-size: 20px; color: #77352C;"></i>
                        <h3 class="phone-number">{{ getEdad(mascotaForm.value.Birthday) }}</h3>
                    </div>

                    <div class="card-content">


                        <i class="pi pi-user icon-user" style="font-size: 20px; color: #77352C;"></i>
                        <h3 class="phone-number">{{ mascotaForm.value.Telefono || 'No
                            disponible' }}</h3>
                        <button pButton type="button" icon="pi pi-phone"
                            class="p-button-rounded p-button-text p-button-sm p-button-success"></button>
                    </div>

                    <ng-template pTemplate="footer">
                        <div class="flex gap-3 mt-1">
                            <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                            <p-button label="Save" class="w-full" styleClass="w-full" />
                        </div>
                    </ng-template>
                </p-card>



            </div>
            <div class="col-3" style="text-align: center;">
                <img *ngIf="mascota?.id" [src]="baseQr + mascota.id" alt="Código QR" /><br>

                <button pButton type="button" icon="pi pi-download" label="Descargar QR"
                    (click)="descargarQr(mascota.id)">
                </button>

            </div>
        </div>
    </p-dialog>
</div>

<app-crop-image (parentFunctionCrop)="parentFunctionCrop($event)" *ngIf="displayCrop"></app-crop-image>