

<h3 style="color: #3a2c41;">Control de privacidad</h3>
<p>Mostrar la información de contacto solo cuando tu mascota se pierda.</p>
<p-inputSwitch 
id="privacySwitch"
[(ngModel)]="privacyControl"
(onChange)="onPrivacyToggle($event.checked)">
</p-inputSwitch>

<form [formGroup]="contactForm" (ngSubmit)="guardar()">
    <div class="grid" style="margin-bottom: 10px;">
        <div class="col">
            <div class="flex flex-column gap-2">
                <label for="telefono">Teléfono de contacto</label>
                <p-inputMask mask="(999) 999-9999" formControlName="Phone" placeholder="(999) 999-9999" />
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="col">
            <div class="flex flex-column gap-2">
                <label for="telefono">Direccion</label>
                <input type="text" pInputText id="address" formControlName="Address" style="width: 100%;" />
                </div>
        </div>
    </div>

    <div class="grid" style="margin-bottom: 10px; margin-top: 5px;">
        <div class="col" style="display: flex;">
            <p-button type="submit" label="Actualizar" severity="primary" [disabled]="!contactForm.valid" />
        </div>
    </div>

    <div style="margin-top: 25px;" *ngIf="loading">
        <p-progressBar mode="indeterminate" [style]="{ height: '6px' }" />
    </div>
</form>
<p-toast position="top-left" key="contact"></p-toast>
