/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html {
  font-size: 0.875rem;
}

.p-menubar {
  margin-bottom: 10px;
}

.p-card .p-card-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.p-card {
  color: #363636;
}

.borde-negro {
  border: 1px solid black;
}

.borde-naranja{
  border: 1px solid #ff6c03;
}