/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html{
  font-size: 0.875rem;
}

body{
  /* background-color: #eae7ee; */

}

.login-section{
  background-color: #fff  !important;
  /* background-image: url('./assets/img/dog-cat-uno.jpg'); */
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 45%;
  margin-top: 0px;
  /* min-height: 950px; */
}

/* .img-gato {
  background-color: #431f39 !important;
  color: #f8e5d4 !important;
}

.img-perro {
  background-color: #f8e5d4 !important;
  color: #431f39 !important;
} */

.p-card{
  /* background-color: #FAEEE7  !important;
  box-shadow: 0 2px 1px -1px rgba(97, 95, 93, 0.2), 0 1px 1px 0 rgba(97, 95, 93, 0.2), 0 1px 1px 0 rgba(97, 95, 93, 0.2) !important;
  border-radius: 20px !important;
  color: #391311 !important; */
}

.p-card .p-card-title {
  /* font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem; */
  color: #1c1c1c !important;
  
}

.p-card .p-card-subtitle {
  /* color: #FF7D49; */
  /* color: #77352C;;
  font-weight: none !important; */
}

.p-dialog .p-dialog-header{
  background-color: #FEFDFA;
}

.p-dialog .p-dialog-content{
  background-color: #FEFDFA;
}

.p-inputtext {
  /* font-family: var(--font-family);
  font-feature-settings: var(--font-feature-settings, normal);
  font-size: 1rem;
  color: #6C4C3B !important;
  background: #ffffff;
  padding: 0.75rem 0.75rem;
  border: 1px solid #D7B7A8;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  appearance: none;
  border-radius: 6px; */
}

.p-float-label > label {
  /* left: 0.75rem;
  color: #6C4C3B;
  transition-duration: 0.2s; */
  /* VERDE CHILO #3a7d44 */
}

/* BUTTON DEFAULT
===================================================== */
.p-button {
  border-radius: 10px;
  background-color: #281d2d;
  border-color: #281d2d;
  color: #fff;
}

/* Hover */
.p-button:hover {
  background-color: #3a2c41;
  border-color: #3a2c41;
}

/* Active */
.p-button:active {
  background-color: #281d2d;
  border-color: #281d2d;
}

/* Focus */
.p-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(122, 52, 201, 0.5);
}

/* Disabled */
.p-button:disabled,
.p-button.p-disabled {
  background-color: #785d85;
  border-color: #785d85;
  color: #3a2c41;
  opacity: 0.65;
}


/* BUTTON SUCCESS
===================================================== */
.p-button.p-button-success {
  background-color: #ffb33b;
  border-color: #ffb33b;
  color: #281d2d;
}

/* Hover */
.p-button.p-button-success:hover {
  background-color: #f4a261;
  border-color: #f4a261;
}

/* Active */
.p-button.p-button-success:active {
  background-color: #f4a261;
  border-color: #f4a261;
}

/* Focus */
.p-button.p-button-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(201, 149, 52, 0.5);
}

/* Disabled */
.p-button.p-button-success:disabled,
.p-button.p-button-success.p-disabled {
  background-color: #f4a261;
  border-color: #f4a261;
  color: #524458;
  opacity: 0.65;
}

/* BUTTON DANGER
===================================================== */
.p-button.p-button-danger {
  background-color: #fde3e3;
  border-color: #fde3e3;
  color: #d62828;
}

/* Hover */
.p-button.p-button-danger:hover {
  background-color: #fde3e3;
}

/* Active */
.p-button.p-button-danger:active {
  background-color: #fde3e3;
  border-color: #fde3e3;
}

/* Focus */
.p-button.p-button-danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(201, 52, 52, 0.5);
}

/* Disabled */
.p-button.p-button-danger:disabled,
.p-button.p-button-danger.p-disabled {
  background-color: #fde3e3;
  border-color: #fde3e3;
  color: #db5b5b;
  opacity: 0.65;
}

/* BUTTON CANCELAR
===================================================== */
.p-button.p-button-cancelar {
  background-color: #d1ced4;
  border-color: #d1ced4;
  color: #3b383d; /* texto en marrón oscuro */
}

/* Hover */
.p-button.p-button-cancelar:hover {
  background-color: #d1ced4;
}

/* Active */
.p-button.p-button-cancelar:active {
  background-color: #d1ced4;
  border-color: #d1ced4;
}

/* Focus */
.p-button.p-button-cancelar:focus {
  box-shadow: 0 0 0 0.2rem rgba(129, 52, 201, 0.5);
}

/* Disabled */
.p-button.p-button-cancelar:disabled,
.p-button.p-button-cancelar.p-disabled {
  background-color: #d1ced4;
  border-color: #d1ced4;
  color: #837a87;
  opacity: 0.65;
}

/* BUTTON ICON CERRAR */
.p-dialog .p-dialog-header .p-dialog-header-close {
  background-color: #fde3e3;
  color: #d62828;
}

/* BUTTON CALLPHONE
===================================================== */
.p-button.p-button-callphone {
  background-color: #6dce7b;
  border-color: #6dce7b;
  color: #281d2d;
}

/* Hover */
.p-button.p-button-callphone:hover {
  background-color: #6dce7b;
  border-color: #6dce7b;
}

/* Active */
.p-button.p-button-callphone:active {
  background-color: #6dce7b;
  border-color: #6dce7b;
}

/* MENUBAR
===================================================== */

.p-menubar {
  /* padding: 0.5rem; */
  /* border: 1px solid #FDF7F1;
  background: #FDF7F1;
  box-shadow: none !important;
  border-radius: 10px !important; */
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text{
  color: #1c1c1c !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-icon{
  color: #1c1c1c;
}
